/* assets/styles/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

section {
  padding: 20px;
  text-align: center;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
}
/* Center and Underline the Summary Section Heading */
.summary h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    color: #333;
}

/* Underline Styling */
.summary h2::after {
    content: '';
    display: block;
    width: 50%;
    margin: 5px auto 0;
    border-bottom: 3px solid #007bff;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar ul li a i {
    font-size: 30px;
}
